* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 100vw;
    font-family: "Public sans", sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
  header {
    background-color: white;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
  }
  
  .header-ul li {
    display: inline-block;
  }
  
  .header-ul li a {
    margin-left: 20px;
    color: hsl(233, 8%, 62%);
  }
  
  .header-ul li a:hover {
    width: 100%;
    border-bottom: 4px solid hsl(192, 70%, 51%);
  }
  
  .dropdown-toggle {
    display: none;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  
  .request-button {
    background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    border-radius: 5em;
    border-color: transparent;
    color: white;
    text-decoration: none;
    padding: 0.65em 1.5em;
    opacity: 1;
    transition: all 0.2s;
  }
  
  span,p {
    color: hsl(233, 8%, 62%);
  }
  
  .details {
    background-color: hsl(0, 0%, 98%);
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
  }
  
  .details-1 {
    margin-top: 15%;
    margin-left: 5%;
    height: 15px;
  }
  
  .head {
    font-size: 50px;
  }
  
  .details-1 p {
    margin-top: 10%;
    margin-bottom: 10%;
  }
  
  .mockups {
    background: url("./images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50px;
    background-position-y: -80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .mockups-image {
    width: 100%;
    transform: translate(90px, -80px);
  }
  
  .benifit {
    padding-bottom: 20px;
    width: 45vw;
  }
  
  .benifit h1 {
    font-size: 30px;
    margin: 10px 0px;
  }
  
  .reason {
    background-color: hsl(220, 16%, 96%);
    padding: 120px 50px;
  }
  
  .reason .choose-list {
    display: flex;
    justify-content: space-between;
    gap: 1.5em;
  }
  
  .choose-list > div img {
    padding: 10px 0;
  }
  
  .choose-list > div h2 {
    padding: 15px 0;
  }
  
  .latest-article {
    background-color: transparent;
    padding: 100px 50px;
  }
  
  .latest-article h1 {
    font-size: 35px;
    margin-bottom: 30px;
    margin-left: 60px;
  }
  
  .articles {
    margin-right: 8%;
    margin-left: 8%;
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
  }
  .articles .articles-box {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .article-0 {
    width: 100%;
    height: 260px;
    padding-bottom: 15px;
  }
  
  .articles-box .article-title {
    margin: 10px 0;
  }
  
  footer {
    background-color: hsl(233, 26%, 24%);
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
  }
  
  .foot {
    display: flex;
    justify-content: space-between;
    flex-basis: 50%;
  }
  
  footer ul {
    list-style: none;
  }
  
  .social-list {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }
  .logo-img {
    padding-bottom: 30px;
  }
  
  .social-list li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .nav-1 li, .nav-2 li {
    margin: 10px 0;
  }
  
  .nav-1 li a, .nav-2 li a {
    color: hsl(220, 16%, 96%);
    font-size: 20px;
  }
  
  .ft-button {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 100px;
  }
  
  .ft-button h4 {
    margin-top: 10px;
    color: hsl(220, 16%, 96%);
  }
  
  .attribution a {
    color: black;
  }
  
  @media screen and (max-width: 765px) {
    header {
      padding: 30px 40px;
    }
  
    .header-ul {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     background-color: white;
     width: 80px;
     padding: 10px;
     border-radius: 10px;
     text-align: center;
     opacity: 0;
     transition: all .5s ease-in-out;
    }
  
    .header-ul li a{
      color: hsl(233, 26%, 24%);
    }
    header .request-button {
      display: none;
    }
  
    .details-1 {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 100px;
      background-color: hsl(0, 0%, 98%);
    }
  
    .active{
      opacity: 1;
      margin-top: 50px;
    }
  
    .head {
      font-size: 40px;
    }
  
    .dropdown-toggle {
      display: block;
    }
    
    .details {
      all: unset;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column-reverse;
      background-color: hsl(0, 0%, 98%);
    }
  
    .details-1 {
      width: 100%;
      transform: translate(0);
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  
    .details-1 h1 {
      width: 95%;
    }
  
    .details-1 span {
      font-size: 20px;
    }
  
    .mockups {
      background-size: 100%;
      background-position-x: 120px;
      background-position-y: 30px;
      overflow: hidden;
    }
  
    .mockups-image {
      width: 100%;
      transform: translate(0, -90px);
    }
  
    .reason {
      padding: 40px;
      width: 100vw;
    }

    h1.reason-h1 {
      margin-left: 110px;
      font-size: 30px;
    }

    .benifit {
      margin-top: 190px;
    }
  
   .benifit p {
     margin-left: 50px;
     width: 60vw;
     margin-right: 20px;
    }
  
   
    .reason .choose-list {
      flex-direction: column;
      margin-left: 50px;
    }
  
    .choose-list > div h2{
      margin-left: 50px;
    }

    .choose-list > .open-api h2{
      margin-left: 80px;
    }
   
    .choose-list > div img{
      margin-left:100px;
    }

    .latest-article {
      flex-direction: column;
      padding: 100px 0;
    }
  
    .latest-article h1 {
       margin-left: 100px;
    }
    
    .articles {
      flex-direction: column;
    }
  
    .articles .articles-box {
      width: 100%;
    }
  
    .articles-box {
      width: 100%;
      padding: 10px 20px 40px 20px;
    }
  
    footer {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 40px;
    }
  
    .foot {
      flex-direction: column;
    }
  
    .nav-1, .nav-2 {
      text-align: center;
    }
  
    .nav-1 li, .nav-2 li {
      margin-top: 20px 0;
    }
  
    .nav-2 {
      margin-top: -10px;
    }
  
    .ft-button {
      margin-left: 50px;
    }
  
    .ft-button h4 {
      font-size: 15px;
      margin-top: 20px;
      margin-left: 60px;
    }
  }
  